---
const { generator, site } = Astro;
const image = new URL("social.png", site);
const title = "&hacks 10";
const description =
  "";
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>
      {title}
    </title>
    <meta name="description" content={description} />

    {/* social media */}
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    {/* initialize theme */}
    <script src="~/lib/initialize-theme.js"></script>
  </head>